mongodb-outbound-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6a38bf34-0b9b-4663-a74e-3655fbc12db9" basePath="/mongodb" >
		<http:request-connection host="127.0.0.1" port="8080" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d80f0633-41be-4a0c-9ba7-c9e40edb27ac" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="1c93d971-d465-4c6c-af0e-371db83ba059" >
		<mongo:connection database="testDB" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="mongodbconnectorsFlow" doc:id="5ff15472-193e-46eb-929f-ef29fac17c54" >
		<http:listener doc:name="Listener" doc:id="00c31418-9f32-45ae-afd2-5de27cf16c47" config-ref="HTTP_Listener_config" path="/mongo"/>
		<logger level="INFO" doc:name="Logger" doc:id="4eb7e355-3fb0-412a-be8d-a421eb843e39" message="Request has been landed succefully!"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="cccf7259-fcad-4d1c-9b94-13507376a81a" variableName="data"/>
		<mongo:insert-documents collectionName="Employees" doc:name="Insert documents" doc:id="d0a33819-5799-4d66-be8d-4d68d5257b85" config-ref="MongoDB_Config">
			<mongo:documents ><![CDATA[#[vars.data.Employees]]]></mongo:documents>
		</mongo:insert-documents>
				<ee:transform doc:name="Transform Message" doc:id="5d8c4a75-591d-4b0b-8754-45d3163dc3ca">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Is record inserted Successful":payload.successful
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</flow>
</mule>
